body {
  background-color: white;
}

.board {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  max-width: 80vw;
  margin-bottom: 0.3vw;
  gap: 0.3vw;
  margin-left: auto;
  margin-right: auto;
}

.cell {
  aspect-ratio: 1 / 1; /* quadrato perfetto */
  display: flex; /* centra il testo */
  align-items: center;
  justify-content: center;
  font-size: 2.5vw;
}

.cell-bordered {
  --cell-border-width: 0.4vw;
  --cell-border-color: #000000;
  border: var(--cell-border-width) solid var(--cell-border-color);
  position: relative;
}

.cell-diagonal-line::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    135deg,
    transparent calc(50% - var(--cell-border-width) / 2),
    var(--cell-border-color) calc(50% - var(--cell-border-width) / 3),
    var(--cell-border-color) calc(50% + var(--cell-border-width) / 3),
    transparent calc(50% + var(--cell-border-width) / 2)
  );
  pointer-events: none;
}

.spacer {
  background: transparent; /* “casella vuota” */
  border: none; /* opzionale */
}

.filled {
  background: #9e2578;
  color: #9e2578;
}

.fly-in-to-not-found-letters {
  animation: slide-from-right 2s ease-out forwards;
}

@keyframes slide-from-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: none;
  }
}

.enhance-already-shown {
  animation: enhance 3s ease-in-out;
}

@keyframes enhance {
  0% {
    rotate: 0deg;
    scale: 1;
  }
  25% {
    rotate: -20deg;
    scale: 1.5;
  }
  75% {
    rotate: 20deg;
    scale: 1.5;
  }
  100% {
    rotate: 0deg;
    scale: 1;
  }
}

.suggestion {
  font-size: 2.5vw;
}

.wheel-bg {
  position: fixed;
  top: 600px;
  left: 50%;

  transform: translate(-50%, -50%);
  opacity: 0.2;

  z-index: -1; /* dietro ai contenuti */
  pointer-events: none; /* non cattura click */

  animation: spin 360s linear infinite;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
